.justify-content-md-center {
    border: solid 1px yellowgreen;
}
body {
    background-color: #E6ECF0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.about-user-section {
    background-color: #FFFFFF;
    margin-right: 1em;
    padding-top: 2em;
    font-size: 14px;
    color: #657786;
    line-height: 14px;
    text-align: left;
}

.tweets-section {
    background-color: #FFFFFF;
    padding-top: 2em;
}

.tweetcard {
    width: 100%;
    padding-top: 1em;
    border-bottom: solid 1px #CDD3D8;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none solid rgb(20, 23, 26);
    text-align: left;
    color: #14171a;
}
.avatar {
    border-radius: 50%;
    width: 5em;
    border: solid 1px white;
}

.avatar-header {
    border-radius: 50%;
    width: 2em;
    position: relative;
}

.avatar-tweetcard{
    border-radius: 50%;
    width: 3em;
}

.logout-user-section{
    width: 100%;
    text-align: right;
}

.setting-btn{
    border-radius: 16px;
    border-color: #87939B;
    font-weight: 600;
    font-size: 13px;
    color: #6E7D86;
}

.follow-section{
    padding-top: 1em;
}

.disabled-following-btn{
    pointer-events: none;
    cursor: default;
}