
body {
    background-color: #E6ECF0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.about-user-section {
    background-color: #FFFFFF;
    margin-right: 1em;
    padding-top: 2em;
    font-size: 14px;
    color: #657786;
    line-height: 14px;
    text-align: left;
    height: 22em;
}

.tweets-section {
    background-color: #FFFFFF;
    padding-top: 2em;
}

.tweetcard {
    width: 100%;
    padding-top: 1em;
    border-bottom: solid 1px #CDD3D8;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none solid rgb(20, 23, 26);
    text-align: left;
    color: #14171a;
}
.avatar {
    border-radius: 50%;
    width: 5em;
    border: solid 1px white;
}

.avatar-header {
    border-radius: 50%;
    width: 2em;
    position: relative;
}

.avatar-tweetcard{
    border-radius: 50%;
    width: 3em;
}

.logout-user-section{
    width: 100%;

}

.setting-btn, .unfollow-btn{
    border-radius: 16px;
    border-color: #87939B;
    font-weight: 600;
    font-size: 13px;
    color: #6E7D86;
}

.follow-section{
    padding-top: 1em;
    margin-bottom: 1em;
}

.unfollow-btn:hover {
    background: #e0245e ;
}

.unfollow-btn::after {
    content: "Following";
}

.unfollow-btn:hover:after {
    content:"Unfollow";
}

.dropdown {
    float: right;
}

.tweetcard-action{
    font-size: 15px;
    color: #657786;
    margin-top: 3em;
    margin-left: 4em;
}

.tweetcard-action a{
    color: #657786;
}

.tweetcard-action a:hover {
    color: #17bf63;
}
.unretweet-btn{
    color: #17bf63;
}
.follow-section a:hover{
    text-decoration: none;
}

.follow-section p:hover{
    color: #fab81e !important;
    text-decoration: none;
}

.editprofile-btn a:hover{
    color: #fab81e !important;
    text-decoration: none;
    border-color: #fab81e ;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
}

.inputfile + label {
    cursor: pointer;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: #fab81e !important ;
}

.navbar-brand {
    font-size: 14px !important;
    font-family: 'Segoe UI', Arial, sans-serif !important;
    line-height: 13px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 700;
    text-decoration: none solid rgb(250, 184, 30);
    text-align: left;
    color: #66757f !important;
}

.fa-twitter {
    color: #1DA1F2 !important;
}

.fa-twitter:hover {
    color: #1DA1F2 !important;
}

.search-input{
    border-radius: 16px;
    border: 1px solid #C6CDD1;
    width: 60% !important;
}

.login-main{
    width: 100%;
    height: 80em;
    border: solid 1px red;
}

.blue-content {
    height: 100%;
    text-align: center;
    line-height: 2.5em;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.blue-content p {
    color: #ffffff;
    font-size: 18px;
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 36px;
    font-weight: 700;

}
.white-content{
    height: 95%;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.btn-block{
    border-radius: 16px !important;
    width: 40% !important;
    margin: 0 auto;
    font-weight: 700;
}
.tweetcard-header{

}

/*Images*/
.wrapped {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
}

.img-container {
    border: 2px solid transparent;
    overflow: hidden;
    min-height: 150px;
}

.img-container > img {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Double images*/
.double-image > .img-container {
    border: 2px solid transparent;
    overflow: hidden;
    height: 250px;
}

.double-image > .img-container > img {
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

/* Multiple images*/
.multiple-image > .img-container {
    border: 2px solid transparent;
    overflow: hidden;
    min-height: 150px;
}

.multiple-image > .img-container:first-child {
    width: 100%;
    height: 225px;
}

.multiple-image > .img-container:not(:first-child) {
    flex: 1;
    height: 150px;
}

.multiple-image > .img-container > img {
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}
