<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Twitter / Admin</title>
</head>
<body>

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="row" style="width: 100%">
            <div class="col-sm-5" style="text-align: right; padding-right: 6em;">
                <a class="navbar-brand" href="/home"><i class="fas fa-home"></i> Home</a>
                <a class="navbar-brand" href="/home"><i class="far fa-bell"> </i>Notifications</a>
                <a class="navbar-brand" href="/home"><i class="far fa-envelope"></i> Message</a>
            </div>
            <div class="col-sm-3" style="text-align: center">
                <a class="navbar-brand" href="/home"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
            <div class="col-sm-4" >
                <div class="row" style="width: 70%; margin: 0">
                    <div class="col-sm-9">
                        <!--SEARCHBAR-->
                        <form th:action="@{/searching}" method="get" class="form-inline ">
                            <input class="form-control form-control-sm mr-3 w-75 search-input" type="text" placeholder="Search" aria-label="Search" name="searchinput">
                        </form>
                    </div>

                    <div class="col-sm-3">
                        <!--USER ACTION-->

                        <div th:if="${user != null}" class="row logout-user-section">
                            <div>
                                <a href="#" data-toggle="popover" th:title="${user.firstName}" data-placement="bottom">
                                    <img th:src="'/upload/static' + ${user.profileImage}" alt="Avatar" class="avatar-header">
                                </a>
                                <ul id="popover-content" class="list-group" style="display: none">
                                    <a th:href="@{/userprofile/}+${user.id}" class="list-group-item"><i class="far fa-user"></i> Profile</a>
                                    <a th:href="@{/editprofile/}+${user.id}" class="list-group-item"><i class="fas fa-cog"></i> Setting</a>
                                    <a th:if="${user.getRoleId().getRoleName() == 'Admin'}" href="/adminpage" class="list-group-item"><i class="fas fa-user-shield"></i> Admin</a>
                                    <a href="/logout" class="list-group-item" th:text="'log out @' + ${user.username}"> </a>
                                </ul>
                            </div>
                        </div>
                        <!--LOG IN BUTTON-->
                        <div class="col" th:if="${user == null}">
                            <a class="btn btn-outline-primary" style="border-radius: 20px !important; font-weight: 600"  href="/login">
                                Login
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </nav>

    <!--END NAVBAR-->
    <div class="container mx-auto">
        <div class="col-md-12 tweets-section">
            <div th:if="${deletemessage}">
                <h2 th:text="${deletemessage}"/>
            </div>
            <div>
                <!--SHOW ALL FOLLOWINGS-->
                <div th:each="x : ${allUsers}">
                    <div class="tweetcard mt-4">
                        <div class="row mb-4">
                            <div class="col-sm-4" style="text-align: center">
                                <img th:src="'/upload/static' + ${x.profileImage}" alt="Avatar" class="avatar">
                            </div>
                            <div class="col-sm-4" style="text-align: center">
                                <p th:text="${x.firstName} + ' ' + ${x.lastName}"></p>
                                <p th:text="'@'+${x.username}"></p>
                            </div>
                            <div class="col-sm-4 editprofile-btn" style="text-align: center">
                                <a class="btn setting-btn" th:href="@{/editprofile/}+${x.id}">
                                    Edit profile
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="../static/js/myScript.js" th:src="@{/js/myScript.js}"></script>
</body>
</html>