<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Edit profile</title>
</head>
<body>

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="row" style="width: 100%">
            <div class="col-sm-5" style="text-align: right; padding-right: 6em;">
                <a class="navbar-brand" href="/home"><i class="fas fa-home"></i> Home</a>
                <a class="navbar-brand" href="/home"><i class="far fa-bell"> </i>Notifications</a>
                <a class="navbar-brand" href="/home"><i class="far fa-envelope"></i> Message</a>
            </div>
            <div class="col-sm-3" style="text-align: center">
                <a class="navbar-brand" href="/home"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
            <div class="col-sm-4" >
                <div class="row" style="width: 70%; margin: 0">
                    <div class="col-sm-9">
                        <!--SEARCHBAR-->
                        <form th:action="@{/searching}" method="get" class="form-inline ">
                            <input class="form-control form-control-sm mr-3 w-75 search-input" type="text" placeholder="Search" aria-label="Search" name="searchinput">
                        </form>
                    </div>

                    <div class="col-sm-3">
                        <!--USER ACTION-->

                        <div th:if="${loggedInUser != null}" class="row logout-user-section">
                            <div>
                                <a href="#" data-toggle="popover" th:title="${loggedInUser.firstName}" data-placement="bottom">
                                    <img th:src="'/upload/static' + ${loggedInUser.profileImage}" alt="Avatar" class="avatar-header">
                                </a>
                                <ul id="popover-content" class="list-group" style="display: none">
                                    <a th:href="@{/userprofile/}+${loggedInUser.id}" class="list-group-item"><i class="far fa-user"></i> Profile</a>
                                    <a th:href="@{/editprofile/}+${loggedInUser.id}" class="list-group-item"><i class="fas fa-cog"></i> Setting</a>
                                    <a th:if="${loggedInUser.getRoleId().getRoleName() == 'Admin'}" href="/adminpage" class="list-group-item"><i class="fas fa-user-shield"></i> Admin</a>
                                    <a href="/logout" class="list-group-item" th:text="'log out @' + ${loggedInUser.username}"> </a>
                                </ul>
                            </div>
                        </div>
                        <!--LOG IN BUTTON-->
                        <div class="col" th:if="${loggedInUser == null}">
                            <a class="btn btn-outline-success my-2 my-sm-0 mx-5" href="/login">
                                Login
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </nav>

    <!--END NAVBAR-->


    <div class="container mb-5">
        <div class="row editprofile-wrapped mt-5">
            <div class="col-md-9 mt-3">
                <div th:if="${message}">
                    <h4 th:text="${message}"/>
                </div>
                <form action="/updateuser" modelAttribute="user" method="post" enctype="multipart/form-data">
                    <input type="hidden"  th:value="${user.id}" name="id">
                    <div class="form-group">
                        <label>First name</label>
                        <input th:value="${user.firstName}" type="text" name="firstName" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input th:value="${user.lastName}" type="text" name="lastName" class="form-control" placeholder="Last Name">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input th:value="${user.email}" type="email"  name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input th:value="${user.username}" type="text"  name="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input th:value="${user.password}" type="password"  name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Profile picture </label>
                        <input type="file" name="file" id="file" class="inputfile" />
                        <label for="file"><i class="far fa-images"></i></label>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-outline-danger float-left" th:href="@{/deleteaccount/}+${user.id}">
                                Delete account
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-success float-right">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
<script src="../static/js/myScript.js" th:src="@{/js/myScript.js}"></script>
</body>
</html>