<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title th:text="${user.firstName}+' (@' + ${user.username} + ')'"></title>
</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="row" style="width: 100%">
            <div class="col-sm-5" style="text-align: right; padding-right: 6em;">
                <a class="navbar-brand" href="/home"><i class="fas fa-home"></i> Home</a>
                <a class="navbar-brand" href="/home"><i class="far fa-bell"> </i>Notifications</a>
                <a class="navbar-brand" href="/home"><i class="far fa-envelope"></i> Message</a>
            </div>
            <div class="col-sm-3" style="text-align: center">
                <a class="navbar-brand" href="/home"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
            <div class="col-sm-4" >
                <div class="row" style="width: 70%; margin: 0">
                    <div class="col-sm-9">
                        <!--SEARCHBAR-->
                        <form th:action="@{/searching}" method="get" class="form-inline ">
                            <input class="form-control form-control-sm mr-3 w-75 search-input" type="text" placeholder="Search" aria-label="Search" name="searchinput">
                        </form>
                    </div>

                    <div class="col-sm-3">
                        <!--USER ACTION-->

                        <div th:if="${loggedInUser != null}" class="row logout-user-section">
                            <div>
                                <a href="#" data-toggle="popover" th:title="${loggedInUser.firstName}" data-placement="bottom">
                                    <img th:src="${loggedInUser.profileImage}" alt="Avatar" class="avatar-header">
                                </a>
                                <ul id="popover-content" class="list-group" style="display: none">
                                    <a th:href="@{/userprofile/}+${loggedInUser.id}" class="list-group-item"><i class="far fa-user"></i> Profile</a>
                                    <a th:href="@{/editprofile/}+${loggedInUser.id}" class="list-group-item"><i class="fas fa-cog"></i> Setting</a>
                                    <a th:if="${loggedInUser.getRoleId().getRoleName() == 'Admin'}" href="/adminpage" class="list-group-item"><i class="fas fa-user-shield"></i> Admin</a>
                                    <a href="/logout" class="list-group-item" th:text="'log out @' + ${loggedInUser.username}"> </a>
                                </ul>
                            </div>
                        </div>
                        <!--LOG IN BUTTON-->
                        <div class="col" th:if="${loggedInUser == null}">
                            <a class="btn btn-outline-primary" style="border-radius: 20px !important; font-weight: 600" href="/login">
                                Login
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </nav>

    <!--END NAVBAR-->

    <div class="container">
        <div class="row">
            <!--ABOUT USER CARD-->
            <div class="col-sm-3 about-user-section">
                <div class="row">
                    <div class="col-sm-4">
                        <img th:src="${user.profileImage}" alt="Avatar" class="avatar">
                    </div>
                    <div class="col-sm-8">
                        <a th:href="@{/userprofile/}+${user.id}"><p style="font-size: 18px; color: #14171A; font-weight: bolder" th:text="${user.firstName} + ' ' + ${user.lastName}"></p></a>
                        <p style="color: #87939B" th:text="'@'+${user.username}"></p>
                    </div>
                </div>

                <!--FOLLOWING AND FOLLOWER SECTION-->
                <div class="row follow-section">
                    <div class="col-sm-4">
                        <p style="font-weight: 700; padding-right: 0.5em; color: #657786; font-size: 12px ;" th:text="Tweets "></p>
                        <p style="font-weight: 700; padding-right: 0.5em; color: #fab81e; font-size: 18px ;" th:text="${allTweets.size()}"></p>

                    </div>
                    <div class="col-sm-4">
                        <a th:href="@{/allfollowing/}+${user.id}"><p style="font-weight: 700; padding-right: 0.5em; color: #657786; font-size: 12px ;" th:text="Following "></p></a>
                        <a th:href="@{/allfollowing/}+${user.id}"><p style="font-weight: 700; padding-right: 0.5em; color: #fab81e; font-size: 18px ;" th:text="${numberOfFollowing}"></p></a>
                    </div>
                    <div class="col-sm-4">
                        <a th:href="@{/allfollower/}+${user.id}" ><p style="font-weight: 700; padding-right: 0.5em; color: #657786; font-size: 12px" th:text="Follower "></p></a>
                        <a th:href="@{/allfollower/}+${user.id}" ><p style="font-weight: 700; padding-right: 0.5em; color: #fab81e; font-size: 18px" th:text="${numberOfFollower}"></p></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 mt-1 editprofile-btn">
                        <a th:if="${disableEditBtn}" class="btn setting-btn" th:href="@{/editprofile/}+${user.id}">
                            Edit profile
                        </a>
                    </div>
                    <div class="col-sm-5">
                        <a th:if="${!disableFollowingBtn && !isFollowing}" class="btn setting-btn" th:href="@{/follow/}+${user.id}">
                            Follow
                        </a>
                        <a th:if="${isFollowing}" class="btn unfollow-btn" th:href="@{/unfollow/}+${user.id}">
                            <span></span>
                        </a>
                    </div>
                </div>

            </div>
            <!--TWEET SECTION-->
            <div class="col-sm-8 tweets-section mx-auto">
                <div>
                    <!--SHOW ALL FOLLOWINGS-->
                    <div th:each="x : ${allFollowing}">
                        <div class="tweetcard">
                            <div class="row mb-4">
                                <div class="col-sm-4" style="text-align: center">
                                    <img th:src="${x.profileImage}" alt="Avatar" class="avatar">
                                </div>
                                <div class="col-sm-4" style="text-align: center">
                                    <p th:text="${x.firstName} + ' ' + ${x.lastName}"></p>
                                    <p th:text="'@'+${x.username}"></p>
                                </div>
                                <div class="col-sm-4 editprofile-btn" style="text-align: center">
                                    <a class="btn setting-btn" th:href="@{/userprofile/}+${x.id}">
                                        Visit profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--SHOW ALL FOLLOWERS-->
                    <div th:each="x : ${allFollowers}">
                        <div class="tweetcard">
                            <div class="row mb-4">
                                <div class="col-sm-4" style="text-align: center">
                                    <img th:src="${x.profileImage}" alt="Avatar" class="avatar">
                                </div>
                                <div class="col-sm-4" style="text-align: center">
                                    <p th:text="${x.firstName} + ' ' + ${x.lastName}"></p>
                                    <p th:text="'@'+${x.username}"></p>
                                </div>
                                <div class="col-sm-4 editprofile-btn" style="text-align: center">
                                    <a class="btn setting-btn" th:href="@{/userprofile/}+${x.id}">
                                        Visit profile
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div th:if="${allFollowing.isEmpty()}">
                    <!--INPUT FIELD FOR TWEETING A TEXT-->
                    <div th:if="${user != null}">
                        <form th:action="@{/saveTweet}" method="post" modelAttribute="tweet" enctype="multipart/form-data">
                            <div class="row form-group">
                                <div class="col-sm-11">
                                    <input type="text" maxlength="140" name="text" class="form-control" placeholder="What's happening?">
                                </div>
                                <div class="col-sm-1">
                                    <input type="file" name="files" multiple="multiple" id="file" class="inputfile" />
                                    <label for="file"><i class="far fa-images"></i></label>
                                </div>

                                <div th:if="${message}">
                                    <h2 th:text="${message}"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <!--TWEET CARD-->
                        <div th:each="x : ${allTweets}">
                            <div class="row tweetcard">
                                <div class="col-12 ml-0">
                                    <div th:each="y : ${userlist}" class="row">
                                        <div class="col-1 mr-4">
                                            <img th:if="${x.userId == y.id}" th:src="${y.profileImage}" alt="Avatar" class="avatar-tweetcard">
                                        </div>
                                        <div class="col-8 mt-2">
                                            <div class="row" th:if="${x.userId == y.id}">
                                                <a th:href="@{/userprofile/}+${y.id}"><p style="font-size: 14px; color: #14171A; font-weight: bolder; margin-right: 1em;" th:text="${y.firstName} + ' ' + ${y.lastName}"></p></a>
                                                <p style="color: #87939B" th:if="${x.userId == y.id}"
                                                   th:with="diff=${
                                               ((now.getTime()-x.getDateTime().getTime())/(60 * 1000))%60  >= 60 ?
                                                ((now.getTime()-x.getDateTime().getTime())/(60 * 60 * 1000))%24 >= 24 ?
                                                 format.format(x.getDateTime()) : ((now.getTime()-x.getDateTime().getTime())/(60 * 60 * 1000))%24 + 'h'
                                               : ((now.getTime()-x.getDateTime().getTime())/(60 * 1000))%60 + 'm'
                                               }"
                                                   th:text="' @'+${y.username} + ' - ' + ${diff}"></p><br/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 ml-5">
                                        <p th:text="${x.text}" ></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div th:with="class=${x.imagePathList.size() == 3 ? 'wrapped multiple-image' : x.imagePathList.size() == 2 ?  'wrapped double-image' : 'wrapped'}" th:class="${class}">
                                        <div th:each="img : ${x.imagePathList}" class="img-container">
                                            <img th:src="${img}" th:alt="${img}" />
                                        </div>
                                    </div>
                                    <div th:if="${user != null}" class="row pb-3 ml-4 tweetcard-action">
                                        <div class="col-sm-2">
                                            <i class="far fa-comment"></i>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-4">
                                                    <a th:href="@{/retweetfromprofile/}+${user.id}+'/'+${x.id}"><i class="fas fa-retweet"></i></a>
                                                </div>
                                                <div class="col-6">
                                                    <p th:if="${x.getRetweets().size() != 0}" th:text="${x.getRetweets().size()}"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <i class="far fa-heart"></i>
                                        </div>
                                        <div class="col-sm-2">
                                            <i class="far fa-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

<script src="../static/js/myScript.js" th:src="@{/js/myScript.js}"></script>
</body>
</html>